<div class="content">
    <div class="row function-name">
        <div class="col-md-10 offset-md-1 col-12 pt-3 pb-3">
            <p class="function-menu">Trang chủ / Quên mật khẩu</p>
            <p class="function-text">QUÊN MẬT KHẨU</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-10 offset-md-1">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tên đăng nhập</label>
                    <input type="text" class="form-control" ng-model="reusername" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="buzz">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Email</label>
                    <input type="email" class="form-control" ng-model="reemail" id="exampleInputPassword1">
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-login" ng-click="getpass()">Lấy lại mật khẩu</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>